In [1]:
import gdown

gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:02<00:00, 22.7MB/s]

'ns_book6.csv'

In [2]:
import pandas as pd

ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [3]:
ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [4]:
sum(ns_book6['도서권수']==0)

3206

In [5]:
ns_book7 = ns_book6[ns_book6['도서권수']>0]

In [7]:
ns_book7.describe(percentiles=[0.3, 0.6, 0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [8]:
sum(ns_book7['대출건수']==0)

55502

In [9]:
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

In [12]:
ns_book7[ns_book7['도서명']=='승정원일기']

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
147545,158793,승정원일기,한국고전번역원 편 ;장승현 옮김,한국고전번역원,2012.0,9788928401123,9788979770223,9,40,911.058,1,0,2013-01-25
147546,158794,승정원일기,한국고전번역원 편 ;김일균 옮김,한국고전번역원,2012.0,9788928401116,9788979770223,9,39,911.058,1,0,2013-01-25
147547,158795,승정원일기,한국고전번역원 편 ;전혜경 옮김,한국고전번역원,2012.0,9788928401109,9788979770223,9,38,911.058,1,0,2013-01-25
147548,158796,승정원일기,한국고전번역원 편 ;김우철 옮김,한국고전번역원,2012.0,9788928401086,9788979770223,9,37,911.058,1,0,2013-01-25
147549,158797,승정원일기,"한국고전번역원 편 ;손성하,백영빈 옮김",한국고전번역원,2012.0,9788928401086,9788979770223,9,36,911.058,1,0,2013-01-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
362250,382601,승정원일기,민족문화추진회 편,민족문화추진회,2002.0,9788979773972,9788979770223,9,162,911.059,1,0,1970-01-01
362251,382602,승정원일기,민족문화추진회 편,민족문화추진회,2002.0,9788979774146,9788979770223,9,161,911.059,1,0,1970-01-01
362252,382603,승정원일기,민족문화추진회 편,민족문화추진회,2002.0,9788979773644,9788979770223,9,160,911.059,1,0,1970-01-01
362253,382604,승정원일기,민족문화추진회 편,민족문화추진회,2002.0,9788979773675,9788979770223,9,159,911.059,1,0,1970-01-01
362254,382605,승정원일기,민족문화추진회 편,민족문화추진회,2002.0,9788979773729,9788979770223,9,158,911.059,1,0,1970-01-01

In [13]:
x = [10, 20, 30]
sum = 0
for i in range(3):
    sum += x[i]
print("평균:", sum / len(x))

평균: 20.0

In [15]:
ns_book7['대출건수'].mean()

11.593438968070707

In [16]:
ns_book7['대출건수'].median()

6.0

In [17]:
temp_df = pd.DataFrame([1,2,3,4])
temp_df.median()

0    2.5
dtype: float64

In [18]:
ns_book7['대출건수'].drop_duplicates().median()

183.0

In [19]:
ns_book7['대출건수'].min()

0

In [20]:
ns_book7['대출건수'].max()

1765

In [21]:
ns_book6['대출건수'].quantile([0.25,0.5,0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [22]:
pd.Series([1,2,3,4,5]).quantile(0.9)

4.6

In [23]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='midpoint')

4.5

In [24]:
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='nearest')

5

In [25]:
borrow_10_flag = ns_book7['대출건수'] < 10

In [26]:
borrow_10_flag.mean()

0.6402712530190833

In [27]:
ns_book7['대출건수'].quantile(0.65)

10.0

In [28]:
ns_book7['대출건수'].var()

371.69563042906674

In [29]:
ns_book7['대출건수'].std()

19.279409493785508

In [30]:
ns_book7['도서명'].mode()

0    승정원일기
dtype: object

In [32]:
ns_book7['발행년도'].mode()

0    2012.0
dtype: float64

In [33]:
ns_book7.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [34]:
ns_book7.loc[:, '도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

In [35]:
ns_book7.to_csv('ns_book7.csv', index=False)

In [59]:
a = [1, 10, 3 , 6, 20]
df = pd.DataFrame(a)
print(df.loc[:,0].var())
print(df.loc[:,0].std())

56.5
7.516648189186454